/* Global */
*,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  background-color: var(--color-background) !important;
}

:root {
  --color-primary: #4318ff;
  --color-primary-gradient-start: #9181f4;
  --color-primary-gradient-end: #5038ed;
  --color-background: #f0edff;
  --color-background-darker: #3d3c42;
  --color-white: #fff;
  --color-text: #2b3674;
}

/* Login Page */
#login .container-fluid {
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .login-card {
  width: 416px;
  height: 557px;
  background-color: var(--color-white);
  border-radius: 20px;
  text-align: center;
}

.gradient-btn {
  background: linear-gradient(
    to right,
    var(--color-primary-gradient-start),
    var(--color-primary-gradient-end)
  );
  color: #fff;
  border: none;
}

.gradient-btn:hover {
  opacity: 0.9;
}

.social-btn {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  border: 1px solid #dee2e6;
  background-color: #fff;
  width: 100%;
  justify-content: center;
  transition: background 0.2s;
}

.social-btn:hover {
  background-color: #f1f1f1;
}

.social-btn img {
  width: 20px;
}

/* All Pages */
#userPage,
#createOrder,
#detailOrders,
#payment,
#adminPage,
#adminOrders,
#reqOrders {
  min-height: 100vh;
  min-width: none;
  padding: 0;
  /* background-color: var(--color-background); */
}

.card.m-5 {
  margin: 5rem;
}

/* Sidebar */
#sidebar {
  min-height: 100vh;
  width: 290px;
  background-color: var(--color-white);
}

#sidebar .logo-section {
  padding: 20px;
  display: flex;
  align-items: center;
}

.sidebar-list {
  padding: 20px;
}

.sidebar-list .nav-item {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-list .nav-item.active {
  background: linear-gradient(
    to right,
    var(--color-primary-gradient-start),
    var(--color-primary-gradient-end)
  );
  border-radius: 8px;
  color: var(--color-white);
}

.sidebar-list .nav-item:hover {
  background: linear-gradient(
    to right,
    var(--color-primary-gradient-start),
    var(--color-primary-gradient-end)
  );
  border-radius: 8px;
  color: var(--color-white);
}

/* Order Page */
#mainContent .orderTable {
  font-size: 14px;
  font-weight: 500;
}

/* Status Styling */
.status-completed,
.status-approved,
.status-ongoing,
.status-pending,
.status-finishing,
.status-rejected {
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  opacity: 1;
  display: inline-block;
  width: 105px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
}

.status-completed {
  background-color: #e6f8f3;
  border: 1px solid #00b087;
  color: #008767;
}

.status-ongoing {
  background-color: #eaf6ff;
  border: 1px solid #007bff;
  color: #0056b3;
}

.status-pending {
  background-color: #f7e6ff;
  border: 1px solid #8e44ad;
  color: #6a3286;
}

.status-finishing {
  background-color: #fef0e6;
  border: 1px solid #fd7e14;
  color: #d16b0d;
}

.status-approved {
  background-color: #e6f8f3;
  border: 1px solid #27ae60;
  color: #1f8e4e;
}

.status-rejected {
  background-color: #ffebeb;
  border: 1px solid #e74c3c;
  color: #c0392b;
}

/* Action Buttom Styling */
.action-btn {
  color: blue;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 255, 0.5);
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  text-align: center;
  display: inline-block;
  width: 120px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle !important;
}

.action-btn:hover {
  border-color: blue;
  background-color: white;
  color: darkblue;
}

.pagination .page-link {
  color: #404b52;
  background-color: #f5f5f5;
  padding: 3px 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.pagination .active .page-link {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.submit-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 12px 32px !important;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.back-btn {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 12px 32px !important;
  border: 1px solid var(--color-primary);
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.label {
  font-weight: 500;
  color: var(--color-text);
}

.row-label {
  color: var(--color-text) !important;
  font-weight: 600;
}

.dashboard-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.icon-box-sm {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.icon-box-sm i[data-lucide] {
  stroke-width: 2.5;
}

.icon-small {
  font-size: 0.8em;
  vertical-align: middle;
  margin-right: 3px;
  width: 14px;
  height: 14px;
}

.icon-small[data-lucide] {
  stroke-width: 3;
}

.order-form-container {
  width: 100%;
  height: 100%;
  background: var(--color-background-darker) 0.5;
}

.popup {
  width: 545px;
  height: 391px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.popup a {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 32px;
  border-radius: 50%;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.popup a:hover {
  background-color: #e0e0e0;
  border-color: #999;
  color: #333;
  cursor: pointer;
}
